body{
	text-align: center;
}
.cuerpo{
	width: 500px;
	height: 45px;
	background-color: white;
	border-style: dashed;
	margin: auto;
}
.grande{
	width: 600px;
	height: 60px;
	padding: 20px;
	background-color: #F9CB9C;
	border: 10px solid #9900FF;
}

